{% extends "base.html" %}

{% block title %}
  {{ Order }}
{% endblock %}

{% block content %}
<h1>Order of user {{ request.user }}</h1>
<ul>
  <li>Order of: {{ user }}</li>
  <li>shop address: {{ order.shop_address }}</li>
  {% for set in line %}
  <li>product: {{ set.product.model.name }}</li>
  {% endfor %}
</ul>

<form method="post" action="{% url 'finish_order' order.id %}">
  {% csrf_token %}
  <ul>
    {% for set in lines %}
    <li>
      {{ set.product__model__name }}
      <div id="price-{{ forloop.counter }}" >Total: <span class="price_output" >{{ set.price }}</span></div>
      <input type="number" class="quantity" name="quantity_{{ forloop.counter }}"
             min="0" max="{{ set.max_count }}" value="{{ set.count }}"
             data-product-id="{{ set.product__model }}" data-url="{% url 'order_process' order.id %}" data-output-id="price-{{ forloop.counter }}">
    </li>
    {% endfor %}
  </ul>
  Final Price: <div id="price_final"> {{ total_price }} </div>
  <button type="submit">finish order</button>
</form>


<script src="car_quantity_controller.js"></script>
{% endblock %}
