{% extends "base.html" %}

{% block title %}
    {{ carmodel }}
{% endblock %}

{% block content %}
    <h1 class="mb-4">🚗 Cars in Auto Salon</h1>

<hr class="my-4">
<div class="row">
    <div class="col-md-6">
            <p><strong>Car Model:</strong> {{ car.name }}</p>
            <p><strong>The amount of km per charge in a model:</strong> {{ car.models.c_for }}</p>
            <p><strong>Description:</strong> {{ car.models.description }}</p>
            <p><strong>number of seats:</strong> {{ car.models.num_seats }}</p>
            <p><strong>pictures:</strong> {{ car.models.pictures }}</p>

        </div>
    </div>

<ul>
    {% for car in cars %}
    <li>{{car.color}}</li>
    {% endfor %}
</ul>

<div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <form method="post" action="car/color/filter">
                    {% csrf_token %}
                </form>
            </div>
</div>>

{% endblock %}
