{% extends "base.html" %}

{% block title %}
    Cars Models
{% endblock %}

{% block content %}
    <h1>Cars Models</h1>
        <a href="{% url 'car_create' %}" class="btn btn-primary">Add</a>
    <ul>
        {% for model in cars %}
            <li>
                <a href="{% url 'car' model.id %}">{{ model.name }}</a>
                <a href="{% url 'car_update' model.id %}">✏️</a>
                <a href="{% url 'car_delete' model.id %}">❌</a>

            </li>
        {% endfor %}
    </ul>
{% endblock %}