{% extends "base.html" %}

{% block title %}
    {{ carmodel }}
{% endblock %}

{% block content %}
    <h1 class="mb-4">🚗 Cars in Auto Salon</h1>

<hr class="my-4">
<div class="row">
    <div class="col-md-6">
            <p><strong>Car Model:</strong> {{ model.name }}</p>
            <p><strong>The amount of km per charge in a model:</strong> {{ model.c_for }}</p>
            <p><strong>Description:</strong> {{ model.description }}</p>
            <p><strong>number of seats:</strong> {{ model.num_seats }}</p>
            <p><strong>pictures:</strong> {{ model.pictures }}</p>

        </div>
    </div>

<ul>
    {% for car in cars %}
    <li>{{car.color}}</li>
    {% endfor %}

    {% for car in cars %}
    <li>{{car.model}}</li>
    {% endfor %}

</ul>

    {% if cars %}
    <div>There is a car</div>
    {% else %}
    <div>There is no car</div>
    {% endif %}
{% if address %}
<div>{{ address }}</div>
{% else %}
<div>none</div>
{% endif %}



<form method="post" action="{% url 'car_filter' %}">
    {% csrf_token %}
    <input type="hidden" id="model" name="model" value="{{ model.id }}">
<label for="color">Choose a color:</label>
<select id="color" name="color">
    {% for color in colors %}
  <option value= "{{ color.id }}">{{ color }}</option>
    {% endfor %}
</select>
    <select id="transmission" name="transmission">
        <option value="0">manual</option>
        <option value="1">automatic</option>
    </select>
    <button type="submit">submit</button>
</form>

<form method="post" action="{% url 'make_order' %}">
    {% csrf_token %}
    {% if address %}
    <input type="hidden" id="shop_address" name="shop_address" value="{{ address.id }}">
    {% else %}
    <input type="hidden" id="empty_address" name="shop_address" value="none">
    {% endif %}
    <input type="hidden" id="taken_car" name="taken_car" value="{{ selected_car.id }}">
    <button type="submit">Order</button>
</form>


{% endblock %}
