{% extends "base.html" %}

{% block title %}
    Search '{{ search }}'
{% endblock %}

{% block content %}
    <h1>Results of the search query '{{ search }}'</h1>

    <h2>Results for car name:</h2>
    <ul>
        {% for car in name %}
            <li><a href="{% url 'model' car.id %}">{{ car.name }}</a></li>
        {% empty %}
            No record found.
        {% endfor %}
    </ul>

    <h2>Results by number of kilometers per charge of the model:</h2>
    <ul>
        {% for car in c_for %}
            <li><a href="{% url 'model' car.id %}">{{ car.c_for }} km - {{ car.name }}</a></li>
        {% empty %}
            No record found.
        {% endfor %}
    </ul>

    <h2>Results for car description:</h2>
    <ul>
        {% for car in description %}
            <li><a href="{% url 'model' car.id %}">{{ car.description }}</a></li>
        {% empty %}
            No record found.
        {% endfor %}
    </ul>

    <h2>Results by number of seats in the car:</h2>
    <ul>
        {% for car in num_seats %}
            <li><a href="{% url 'model' car.id %}">{{ car.num_seats }} seats in the car: {{ car.name }}</a></li>
        {% empty %}
            No record found.
        {% endfor %}
    </ul>

{% endblock %}