body.winter {
    background-color: #cce6ff; /* light blue */
    background-image: url('/static/pictures/background/winter1.jpg');
    background-size: cover;
}

body.spring {
    background-color: #d4f7dc; /* light green */
    background-image: url('/static/pictures/background/spring1.jpg');
    background-size: cover;
}

body.summer {
    background-color: #fff5cc; /* light yellow */
    background-image: url('/static/pictures/background/summer1.jpg');
    background-size: cover;
}

body.autumn {
    background-color: #ffe6cc; /* light orange */
    background-image: url('/static/pictures/background/autumn1.jpg');
    background-size: cover;
}

/* Style for exchange rate */
.exchange-rate {
    font-weight: bold !important;
    color: #90ee90 !important; /* LightGreen */
}